<a href="https://colab.research.google.com/github/alvas-education-foundation/Sushmita_sp/blob/master/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Add rollno and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

import operator
a=int(input('Enter the no of student '))
b={}
for i in range (1,a+1):
	name=input('Enter the name %d '%(i))
	marks=int(input('Enter the marks %d '%(i)))
	b[name]=marks
	sorted_b=sorted(b.items(),key=operator.itemgetter(1))
	sorted_b.reverse()
print(sorted_b)

Enter the no of student 2
Enter the name 1 raksit
Enter the marks 1 232
Enter the name 2 deede
Enter the marks 2 23234
[('deede', 23234), ('raksit', 232)]

In [ ]:
#2. Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary
import operator
a=int(input('Enter the no of employe '))
b={}
for i in range (1,a+1):
	name=input('Enter the name %d '%(i))
	salary=int(input('Enter the salary %d '%(i)))
	b[name]=salary
	sorted_b=sorted(b.items(),key=operator.itemgetter(0))
	#sorted_b.reverse()
print(sorted_b)

Enter the no of employe 2
Enter the name 1 qwee
Enter the salary 1 121212
Enter the name 2 ewqw
Enter the salary 2 321222
[('ewqw', 321222), ('qwee', 121212)]

In [ ]:
#3. Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

import operator
n=int(input("enter the no of employee : "))
d={}
for i in range(n):
	name=input("enter the name of the employee : ")
	salary=int(input("enter the salary of the employee : "))
	d[name]=salary
print(d)
a=sorted(d.items(),key=operator.itemgetter(0))
print(a)
print("sum of salary : ",sum(d.values()))
print ("max salary is : ",max(d.values()))
print ("min salary is : ",min(d.values()))
print ("avg of salary is : ",(sum(d.values()))//n)

In [ ]:
#4. Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000
a=int(input('Enter the no of employe '))
b={}
for i in range (1,a+1):
	name=input('Enter the name %d '%(i))
	salary=int(input('Enter the salary %d '%(i)))
	b[name]=salary
print(b)
sorted_b=sorted(b.items(),key=operator.itemgetter(0))
d={x:y for (x,y)in b.items()if ((y>=2000) & (y<=4000))}
print(d)

In [ ]:
#5. Python program to convert a 3 digit number  into words


d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty',\
  100:'hundred',200:'two hundred',300:'three hundred',400:'four hundred',\
  500:'five hundred',600:'sic hundred',700:'seven hundred',\
  800:'eight hundred',900:'nine hundred'}

num=int(input("Enter the integer between 1 to 999:"))
if (num<=20):
  	print(d[num])
if(num>20 and num<100):
    	if num%10==0:  	 
        	print(d[num])
    	else:
        	print(d[num//10*10]+" "+d[num%10])
if(num>99 and num<1000):
    	if num%100==0:  	 
        	print(d[num])
    	else:
        	print(d[num//100*100]+" "+"and"+" "+d[num%100//10*10]+" "+d[num%10])

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving rakshith.txt to rakshith.txt

In [ ]:
file = open("rakshith.txt", "r")
data=file.read()
num_chars = 0
data.strip()
num_chars=data.replace(" ","")
print(len(num_chars))

15

In [ ]:
#
file=open('rakshith.txt',"r")
w = []	
d = dict() 
for line in file: 
    line = line.strip() 	
    if(line.isdigit()):
           w.append(line)
for j in w:
      if j in d:
        d[j] = d[j] + 1
      else: 
            d[j] = 1 
for key in list(d.keys()): 
    print(key, ":", d[key])

In [ ]:
#program to append content from one file to another
name1 = input("Enter file to be read from: ")
name2 = input("Enter file to be appended to: ")
fin = open(name1, "r")
data2 = fin.read()
fin.close()
fout = open(name2, "a")
fout.write(data2)
fout.close()

In [ ]:
#Python Program to count the number of blank spaces in a text file
file=open('rakshith.txt',"r")
k = 0
 
with open("rakshith.txt", 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isspace):
                    k=k+1
print(" blank spaces:")
print(k)

Occurrences of blank spaces:
15